### 1. Create a result table which contain student id, student name and 5 subject marks.

In [4]:
import sqlite3 as sq
con=sq.connect("RESULT.db")
cur=con.cursor()

In [5]:
table='''Create table if not exists result
        (
        sid int primary key,
        sname text NOT NULL,
        m1 int,
        m2 int,
        m3 int,
        m4 int,
        m5 int
        )'''

In [6]:
cur.execute(table)

### 2. Enter 10 studnet details with its marks.

In [7]:
insert2="insert into result values(?,?,?,?,?)"

In [8]:
l=[]

In [9]:
for i in range(10):
    sid=int(input(f"Enter student id of student {i+1}: "))
    sname=input(f"Enter student Name of student {i+1} :")
    m1=int(input(f"Enter marks of subject 1 of student {i+1} :"))
    m2=int(input(f"Enter marks of subject  2 of student {i+1} :"))
    m3=int(input(f"Enter marks of subject  3 of student {i+1} :"))
    m4=int(input(f"Enter marks of subject 4 of student {i+1} :"))
    m5=int(input(f"Enter marks of subject  5 of student {i+1} :"))
    t=(sid,sname,m1,m2,m3,m4,m5)
    l.append(t)

Enter student id of student 1:  1
Enter student Name of student 1 : om
Enter marks of subject 1 of student 1 : 78
Enter marks of subject  2 of student 1 : 90
Enter marks of subject  3 of student 1 : 78
Enter marks of subject 4 of student 1 : 56
Enter marks of subject  5 of student 1 : 90
Enter student id of student 2:  2
Enter student Name of student 2 : sai
Enter marks of subject 1 of student 2 : 90
Enter marks of subject  2 of student 2 : 98
Enter marks of subject  3 of student 2 : 87
Enter marks of subject 4 of student 2 : 78
Enter marks of subject  5 of student 2 : 67
Enter student id of student 3:  3
Enter student Name of student 3 : ram
Enter marks of subject 1 of student 3 : 89
Enter marks of subject  2 of student 3 : 67
Enter marks of subject  3 of student 3 : 77
Enter marks of subject 4 of student 3 : 90
Enter marks of subject  5 of student 3 : 78
Enter student id of student 4:  4
Enter student Name of student 4 : gopal
Enter marks of subject 1 of student 4 : 89
Enter marks of subject  2 of student 4 : 87
Enter marks of subject  3 of student 4 : 89
Enter marks of subject 4 of student 4 : 80
Enter marks of subject  5 of student 4 : 87
Enter student id of student 5:  5
Enter student Name of student 5 : radha
Enter marks of subject 1 of student 5 : 89
Enter marks of subject  2 of student 5 : 78
Enter marks of subject  3 of student 5 : 67
Enter marks of subject 4 of student 5 : 56
Enter marks of subject  5 of student 5 : 90
Enter student id of student 6:  6
Enter student Name of student 6 : urvi
Enter marks of subject 1 of student 6 : 90
Enter marks of subject  2 of student 6 : 89
Enter marks of subject  3 of student 6 : 67
Enter marks of subject 4 of student 6 : 77
Enter marks of subject  5 of student 6 : 55
Enter student id of student 7:  7
Enter student Name of student 7 : pretu
Enter marks of subject 1 of student 7 : 89
Enter marks of subject  2 of student 7 : 76
Enter marks of subject  3 of student 7 : 75
Enter marks of subject 4 of student 7 : 74
Enter marks of subject  5 of student 7 : 89
Enter student id of student 8:  8
Enter student Name of student 8 : dhuli
Enter marks of subject 1 of student 8 : 88
Enter marks of subject  2 of student 8 : 77
Enter marks of subject  3 of student 8 : 66
Enter marks of subject 4 of student 8 : 99
Enter marks of subject  5 of student 8 : 76
Enter student id of student 9:  9
Enter student Name of student 9 : khushi
Enter marks of subject 1 of student 9 : 88
Enter marks of subject  2 of student 9 : 99
Enter marks of subject  3 of student 9 : 90
Enter marks of subject 4 of student 9 : 98
Enter marks of subject  5 of student 9 : 95
Enter student id of student 10:  10
Enter student Name of student 10 : hetal
Enter marks of subject 1 of student 10 : 90
Enter marks of subject  2 of student 10 : 87
Enter marks of subject  3 of student 10 : 90
Enter marks of subject 4 of student 10 : 98
Enter marks of subject  5 of student 10 : 87

### 3. Dump table into csv file "result.csv".

In [10]:
import csv

In [11]:
header=['STUDENT_ID','STUDENT_NAME','SUBJECT_1','SUBJECT_2','SUBJECT_3','SUBJECT_4','SUBJECT_5']

In [12]:
with open('reslult_tbl.csv','w',newline="") as csvfile:
    writer_obj=csv.writer(csvfile)
    writer_obj.writerow(header)
    writer_obj.writerows(l)

### 4. Read result.csv file and Print Total Marks and Grade of each student. Also Append Total Marks and Grade column into result.csv file.

In [13]:
COLUMNS=[]
with open('reslult_tbl.csv','r',newline="") as read_csv:
    read_obj=csv.DictReader(read_csv)
    COLUMNS=list(read_obj)
    print(COLUMNS)
    print('\n')

[{'STUDENT_ID': '1', 'STUDENT_NAME': 'om', 'SUBJECT_1': '78', 'SUBJECT_2': '90', 'SUBJECT_3': '78', 'SUBJECT_4': '56', 'SUBJECT_5': '90'}, {'STUDENT_ID': '2', 'STUDENT_NAME': 'sai', 'SUBJECT_1': '90', 'SUBJECT_2': '98', 'SUBJECT_3': '87', 'SUBJECT_4': '78', 'SUBJECT_5': '67'}, {'STUDENT_ID': '3', 'STUDENT_NAME': 'ram', 'SUBJECT_1': '89', 'SUBJECT_2': '67', 'SUBJECT_3': '77', 'SUBJECT_4': '90', 'SUBJECT_5': '78'}, {'STUDENT_ID': '4', 'STUDENT_NAME': 'gopal', 'SUBJECT_1': '89', 'SUBJECT_2': '87', 'SUBJECT_3': '89', 'SUBJECT_4': '80', 'SUBJECT_5': '87'}, {'STUDENT_ID': '5', 'STUDENT_NAME': 'radha', 'SUBJECT_1': '89', 'SUBJECT_2': '78', 'SUBJECT_3': '67', 'SUBJECT_4': '56', 'SUBJECT_5': '90'}, {'STUDENT_ID': '6', 'STUDENT_NAME': 'urvi', 'SUBJECT_1': '90', 'SUBJECT_2': '89', 'SUBJECT_3': '67', 'SUBJECT_4': '77', 'SUBJECT_5': '55'}, {'STUDENT_ID': '7', 'STUDENT_NAME': 'pretu', 'SUBJECT_1': '89', 'SUBJECT_2': '76', 'SUBJECT_3': '75', 'SUBJECT_4': '74', 'SUBJECT_5': '89'}, {'STUDENT_ID': '8', 'STUDENT_NAME': 'dhuli', 'SUBJECT_1': '88', 'SUBJECT_2': '77', 'SUBJECT_3': '66', 'SUBJECT_4': '99', 'SUBJECT_5': '76'}, {'STUDENT_ID': '9', 'STUDENT_NAME': 'khushi', 'SUBJECT_1': '88', 'SUBJECT_2': '99', 'SUBJECT_3': '90', 'SUBJECT_4': '98', 'SUBJECT_5': '95'}, {'STUDENT_ID': '10', 'STUDENT_NAME': 'hetal', 'SUBJECT_1': '90', 'SUBJECT_2': '87', 'SUBJECT_3': '90', 'SUBJECT_4': '98', 'SUBJECT_5': '87'}]

In [16]:
with open('reslult_tbl.csv','w',newline="") as csvfile:
    header=['STUDENT_ID','STUDENT_NAME','SUBJECT_1','SUBJECT_2','SUBJECT_3','SUBJECT_4',
            'SUBJECT_5','total_marks','grade']
    write_obj=csv.DictWriter(csvfile,fieldnames=header)
    write_obj.writeheader()
    write_obj.writerows(COLUMNS)

In [ ]:
for row in COLUMNS:
    total_marks=sum(int(row[f'SUBJECT_{i}'])
for j in range(1,6))
    percentage=total_marks/5
    if percentage>=90:
        grade='A'
    elif percentage>=80 and percentage<=90:
        grade='B'
    elif percentage>=70 and percentage<=80:
        grade='C'
    elif percentage>=60 and percentage<=70:
        grade='D'
    elif percentage>=50 and percentage<=33:
        grade='E'
    else:
        grade='F'
row['total_marks']=total_marks
row['grade']=grade

### 5. List out Top 3 Student id and name with its percentage.

In [17]:
with open('reslult_tbl.csv', 'r', newline='') as file2:
    head = next(file2)
    header = "{:^12} {:^20} {:^15}\n-----------------------------------------------------".format('Student_ID', 'Student_Name', 'Percentage')
    print(header)
    d = csv.reader(file2)
    d = sorted(d, key=lambda stud: stud[8], reverse=True)
    c=0
    # Iterate through the sorted data and print each record
    for i in d:
        record_line = "{:^12} {:^20} {:^15} ".format(i[0], i[1], i[8])
        print(record_line)
        c+=1
        if c==3:
            break

 Student_ID      Student_Name       Percentage
-----------------------------------------------------
     1                om
     2               sai
     3               ram